
<div>
    <%if(params.token) { %>   
        <form method="POST" action="/resetPassword">
            <label to="password">Password:</label>
            <input type="password" name="password" required/>
            <br/>
            <label to="passwordConfirm">Confirm password:</label>
            <input type="password" name="passwordConfirm" required/>
            <br/>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="passwordResetToken" value="<%= params.token %>" />
            <input type="submit" value="Reset"/>
        </form>
    <% } else {  %>
        <form method="POST" action="/requestResetPassword">
            <label to="email">Email:</label>
            <input type="email" name="email" required/>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="submit" value="Send password reset email"/>
        </form>
    <% }  %>
</div>