
<br><br><main class="form-signin text-center">
    <div>
        <%if(params.token) { %>   
        <form method="POST" action="/resetPassword">
            <div class="form-floating">
            <img class="mb-4" src="logo.png" alt="no logo" width="72" height="57">
            </div>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
            <input type="password" name="password"  class="form-control"  placeholder="Password" required>
            <label>Password</label>
            </div>
            <div class="form-floating">
            <input type="password" name="passwordConfirm"  class="form-control"  placeholder="Confirm Password" required>
            <label>Confirm Password</label>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="passwordResetToken" value="<%= params.token %>" />

            <div class="checkbox mb-3">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
        </form>

        <% } else {  %>
            <form method="POST" action="/requestResetPassword">
                <div class="form-floating">
                <img class="mb-4" src="logo.png" alt="no logo" width="72" height="57">
                </div>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
                <div class="form-floating">
                    <input type="email" name="email" class="form-control" placeholder="mail@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            

                <div class="checkbox mb-3">
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Reset my password</button>
            </form>
        <% }  %>
    </div>
</main>