<h1>Upload ipfs</h1>
<h4>Bem vindo <%if(params.user) { %>
      <%= params.user.username %>
      <p>UserToken:<%=  params.user.authToken.token %></p>
     <% } else { %>
        <%= 'visitante' %>
        <% }  %>
</h4>
        
<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/singup">Sing Up</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/watch">Watch</a></li>
</ul>