<div>
    <form method="POST" action="/login">
        <label to="username">Username:</label>
        <input type="text" name="username" required/>
        <br/>
        <label to="password">Password:</label>
        <input type="password" name="password" required/>
        <br/>
        <input type="submit" value="Login"/>
    </form>
</div>