<div>
    <form method="POST" action="/login">
        <label to="username">Username:</label>
        <input type="text" name="username" required/>
        <br/>
        <label to="password">Password:</label>
        <input type="password" name="password" required/>
        <br/>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="submit" value="Login"/>
    </form>
    <a href="/forgotPassword" type="button">I Forgot my password</a>
</div>