<br><br><main class="form-signin  text-center">
    <form method="POST" action="/singup">
      <div class="form-floating">
        <img class="mb-4" src="logo.png" alt="no logo" width="72" height="57">
      </div>
      <h1 class="h3 mb-3 fw-normal">Sing up</h1>
  
      <div class="form-floating">
        <input type="text" name="username"  class="form-control" id="floatingInput" placeholder="username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="mail@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password"  class="form-control"  placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" name="passwordConfirm"  class="form-control"  placeholder="Password">
        <label for="floatingPassword">Confirm password</label>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <a href="/newSingupToken">Send new confirmation email</a><br><br>
      <p>By registering, the user agrees with <%= params?.appname %>'s
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#termsModal">
          terms of use
        </button>
    </form>
  </main>
  <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Terms of use</h5>
        </div>
        <div class="modal-body">
          <%- include('termsText') %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I agree</button>
        </div>
      </div>
    </div>
  </div>