<div class="row-cols-8">

    <h3 class="h3 mb-3 fw-normal">
        This document outline how is the <%= params?.appname %>'s relationship with its users.
    </h3> 
    
    <h3 class="h3 mb-3 fw-normal">
        Which data we collect
    </h3> 
        We collect and store all the data provided by the user trough the app's interface.
        This data includes the user's data provided in sing up, the watched videos for future recomendations. Comments.
        The uploaded videos and their metadata, titles, descriptions and tags.
        We delete all the data the user request us to delete if the user has this right.
    
    <h3 class="h3 mb-3 fw-normal">
        User accounts
    </h3> 
        The account can be banned without further notification if it violates any of the rules agreed here.
    
    <h3 class="h3 mb-3 fw-normal">
        Terms of use
    </h3> 
        <%= params?.appname %> is compromised to deliver a experience in which the user can watch, deliver, host and share videos in a decentralized manner based on IPFS Protocol.
        The user allows us to collect data as mentioned.
        
    
    <h3 class="h3 mb-3 fw-normal">
        Community rules
    </h3> 
        The user is forbid to post videos or images that contain pornographic and ilegal content neither refereces to such materials in external sites through links.
        The user is forbit to post malicious link of any kind.
        
        <br><br><small class="float-end">Last alteration: 06/Oct/2021</small>
</div>