<br><br>
<main class="text-center">
    <div class="form-floating">
      <img class="mb-4" src="/logo.png" alt="no logo" width="72" height="57">
    </div>  
    <%- include('termsText') %>    
</main>