.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

main > .container {
  padding: 60px 15px 0; }

nav span:hover {
  cursor: pointer; }

html,
body {
  height: 100%; }

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-floating:focus-within {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-post-file-input-box {
  font-size: 15px;
  border-radius: 11px;
  margin-bottom: 11px; }

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem; }

.icon-link {
  display: inline-flex;
  align-items: center; }

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor; }

.icon-link:hover > .bi {
  transform: translate(0.25rem); }

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem; }

.rounded-4 {
  border-radius: .5rem; }

.rounded-5 {
  border-radius: 1rem; }

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25); }

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25); }

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.video-meta {
  padding: 0.3em; }
  .video-meta span {
    cursor: pointer; }

.reacted {
  color: purple;
  font-weight: bold; }

.reaction-button:hover {
  cursor: pointer; }

.circle-image {
  border-radius: 50%; }

.description-box {
  padding: 2em; }

.comment-box {
  border-radius: 25px;
  padding: 0.3em;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

.comment-box:hover {
  background-color: #fcfcfc; }

.comment-textarea {
  background: transparent;
  color: transparent;
  resize: none;
  border: 0 none;
  outline: none; }

.about-section {
  text-align: center; }
  .about-section p {
    margin-top: 60px;
    font-size: 24px; }
  .about-section .row {
    margin-bottom: 4.5em;
    padding-top: 200px;
    padding-bottom: 200px; }
  .about-section .fa {
    font-size: 250px;
    color: #43999E;
    margin-top: 50px; }
  .about-section .darker {
    background-color: #d5d5d5; }

#faCopyMoneroAddressToClipboard {
  text-align: center;
  font-size: 30px; }

#faCopyMoneroAddressToClipboard:hover {
  cursor: pointer; }

#loaderbg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 15px;
  width: 350px;
  height: 350px;
  border-radius: 20px; }

#loader {
  z-index: 2;
  width: 140px;
  height: 140px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
